!!! 5
%html
  %head
    %title Xenon
    %link{ href: "/style.css", rel: "stylesheet", type: "text/css"}

    %script{ src: "src/jquery.js" }
    %script{ src: 'src/three-plain.js' }
    %script{ data-main: "src/client", src: 'src/require.js' }
    

    :javascript
      require.config({
        paths: {
            "jquery": "http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min"
        }
      });
  %body
    #container
      #inner-container
        %button#move-btn MOVE
        %button#shoot-btn SHOOT
        #nanowar
      
    %ul#log{ style: 'display:none'}