!!! 5
%html
  %head
    %title Xenon
    %link{ href: "/style.css", rel: "stylesheet", type: "text/css"}

    %script{ data-main: "src/client-main", src: 'src/require.js' }
    
  %body
    #container
      #inner-container
        %button#move-btn MOVE
        %button#shoot-btn SHOOT
        #nanowar
      
    %ul#log{ style: 'display:none'}