%html
  %head
    %title Jasmine Spec Runner

    %script{"data-main" => "require.js", src: "require.js", type: "text/javascript"}
    %link{href: "src/jasmine-1.2.0/jasmine_favicon.png", rel: "shortcut icon", type: "image/png"}
    %link{href: "src/jasmine-1.2.0/jasmine.css", rel: "stylesheet", type: "text/css"}
    
    :javascript
      requirejs.config({
        //By default load any module IDs from js/lib
        baseUrl: 'src',
        
        paths: {
            "jquery": "http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min"
        }
      })

    / include spec files here...
    
    %script
      specs = [];
      :each spec in specs
        specs.push("#{spec.replace('.coffee', '.js')}");

      src = [];
      :each spec in srcfiles
        src.push("#{spec.replace('.coffee', '.js')}");
    
    :javascript
      require(src, function() {
        require(['jasmine-1.2.0/jasmine'].concat(specs))(function(jasmine) {
          var jasmineEnv = jasmine.getEnv();
          jasmineEnv.updateInterval = 1000;

          var htmlReporter = new jasmine.HtmlReporter();

          jasmineEnv.addReporter(htmlReporter);

          jasmineEnv.specFilter = function(spec) {
            return htmlReporter.specFilter(spec);
          };

          var currentWindowOnload = window.onload;

          window.onload = function() {
            if (currentWindowOnload) {
              currentWindowOnload();
            }
            execJasmine();
          };

          function execJasmine() {
            jasmineEnv.execute();
          }

        })();
      })
%body